[submodule ".emacs.d/src/org-mode"]
	path = .emacs.d/src/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".emacs.d/src/org-reveal"]
	path = .emacs.d/src/org-reveal
	url = git://github.com/yjwen/org-reveal.git
